.slds-form-element__control {
    width: 50px;
}

.slds-input__icon-group {
    display: none;
}

.slds-icon {
    display: none;
}

.embeddedServiceSidebar .sidebarBody {
    overflow-y: scroll;
}

.slds-listbox {
    height: 50px;
    overflow-y: scroll;
}